.dmhyexp table .selector:hover {
    background: #aaa;
    cursor: pointer;
}
.dmhyexp .actionbar {
    /* position: relative;
    top: 1px; */
    margin-left: 2em;
    /* display: inline-block; */
    padding: 0 .5em;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.dmhyexp .actionbar > a {
    cursor: pointer;
    margin-right: .5em;
    display: inline-block;
    padding: .5em .8em;
}
.dmhyexp .actionbar > a:last-child {
    margin-right: 0;
}
.dmhyexp .actionbar > a:hover {
    background: rgba(255, 255, 255, 0.2);
}
.dmhyexp.exportbox {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40%;
    background: #fff;
    border: 1px solid #247;
    box-shadow: 0px 10px 10px rgba(100, 100, 100, 0.7);
    padding: 1em;
}
.dmhyexp.exportbox textarea {
    width: 100%;
    box-sizing: border-box;
    min-height: 20em;
    margin-bottom: 1rem;
    padding: .5em;
    font-size: 10px;
    font-family: Consolas, monaco, monospace;
}
.dmhyexp.exportbox .buttons {
    text-align: center;
    font-size: 12px;
    margin-bottom: 1em;
}
.dmhyexp.exportbox .buttons button {
    margin-right: 1em;
}
.dmhyexp.exportbox .buttons button:last-child {
    margin-right: 0;
}


/* overwrite */
.table .nav_title {
    padding: 0 1em !important;
    height: auto !important;
    display: flex;
    align-items: center;
}
.table .nav_title > div > * {
    vertical-align: middle;
}
.table .fl {
    float: none !important;
    align-items: center;
    display: flex;
}
.table .fr {
    float: none !important;
    align-items: center;
    display: flex;
    margin-left: auto;
}